.tabla-container {
  width: 90%; /* Ajusta el ancho para que sea menos ancho */
  max-width: 800px;
  margin-left: 340px; /* Centra la tabla */
}

.tabla-scroll {
  max-height: 451px; /* Limita el alto para mostrar solo 10 filas aprox. */
  overflow-y: auto; /* Activa el scroll vertical */
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
  text-align: left;
}

table thead {
  background-color: #1a237e;
  color: white;
  position: sticky; /* Mantén el encabezado fijo */
  top: 0;
  z-index: 1;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tbody tr:hover {
  background-color: #ddd;
}

h1 {
  text-align: center;
  font-size: 24px;
  margin-top: 20px;
  color: #333;
}