.vertical-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  background-color: #43a196;
  border-radius: 0;
  padding: 10px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: white;
  overflow-y: auto;
}
.filtrarTabla {
  text-align: center;
}
#cerrarSesion {
  margin-top: 282px;
  border-top: 1px solid #fff;
}
.menu-item {
  display: block;
  width: 100%;
  background-color: transparent;
  border: none;
  color: white;
  padding: 10px;
  text-align: left;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-bottom: 1px solid #ffffff;
}

.menu-item:last-child {
  border-bottom: none;
}

.menu-item:hover {
  background-color: #45d4c4;
  border-radius: 4px;
}

.menu-item:active {
  background-color: #164540;
}

